[Desktop Entry]
Name=Friday
Comment=Ultimate Local AI Assistant that takes actions for you.
Exec=run.sh
Icon=ai.gamewave.friday
Type=Application
Categories=Development;
Keywords=AI;Assistant;LLM;ChatGPT;Local;Offline;
StartupNotify=true